.blocklyContainer {
  position: relative;
  width: 100%;
  height: calc(100% - 24px);
  border: 1px solid black;
}

.blockly {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.blockly-javascript-preview {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}